<!DOCTYPE html>
<html>
<h1><%= title %></h1>
	<form method="post" >
		<div>

			<div>
				<span>Family Name</span> 
				<input type="text" name="familyname" id="editArticleFamilyname"/>
			</div>

			<div>
				<span>Storie</span> 
				<textarea name="storie" rows="20" id="editArticleStorie" />
				</textarea>
			</div>

			<div id="editArticleSubmit">
				<input type='submit' value='Send'/>
			</div>

		</div>
	</form>
</html>



