<!DOCTYPE html>
<html>
<h1><%= title %></h1>
	<form method="post" >
		<div>

			<div>
				<span>Family Name</span> 
				<input type="text" name="familyname-string" />
			</div>

			<div>
				<span>first Name</span> 
				<input type="text" name="firstname-string"  />
			</div>

			<div>
				<span>eviction date</span> 
				<p>pleqse provide the date as yyyy/mm/dd</p>
				<input type="text" name="eviction-date"  />
			</div>

			<div>
				<span>story</span> 
				<textarea rows="20" name="story-string" >
				</textarea>
			</div>

			<div id="editArticleSubmit">
				<input type='submit' value='Send'/>
			</div>

		</div>
	</form>
</html>



